.info-section{
    
    margin: 30px 0px;
    padding: 36px 18px;
    
}
.is-heading{
    font-size: 36px;
    font-weight: 700px;
    padding: 12px;
    margin-bottom: 16px ;
    text-align: center;
}